.list {
    margin-left: 10%;
    margin-top: 30px;
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
}

.dialogWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.miniAva {
    border-radius: 50%;
    margin: auto 10px;
    display: flex;
    height: 60px;
    width: 60px;
    overflow: hidden;
    position: relative;
}

.nameWrapper {
    height: 100%;
    width: calc(95% - 80px);
}

.listActive {
    box-shadow: 1px 1px 2px #000000;
    margin-left: 10%;
    border-radius: 4px;
    /* width: 80%; */
    background: #22252b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transition: .5s;
}

.list a {
    text-align: start;
    padding: 10px;
    width: 100%;
}